
html.light {
  --secondary-font-color: rgb(59, 59, 59);
}

:root {
  --md-sys-color-primary: #2d65ff;
  --md-sys-color-secondary: #f3f3f3;
  --md-ref-typeface-brand: 'Open Sans';
  --md-ref-typeface-plain: system-ui;
  font-family: "Google Sans";
  --md-text-button-label-text-color: var(--secondary-font-color);
}

@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=settings";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0px 10px;
    gap: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}