.splash-container {
  position: relative;
  width: 100%;
  height: 50%;
  max-height: 1080px;
  overflow: hidden;
  border-radius: 15px;

}

.splash-art {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist-badge {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 14px;
  border-radius: 6px;
  color: #ffffff;
  font-family: "Google Sans";
  pointer-events: none;
    text-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
}

.artist-badge .title {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.artist-badge .artist {
  font-size: 0.8rem;
  opacity: 0.9;
}

.nav {
    display: flex;
    min-height: 50px; 
    width: 100%;
    align-items: center;
    padding: 0 15px;

}